::selection { background:black; color:aqua; }
::-webkit-scrollbar { width:10px; }
::-webkit-scrollbar-track { box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius:99px; margin:3px; }
::-webkit-scrollbar-thumb { box-shadow:inset 0 0 6px rgb(0, 0, 0); border-radius:99px; background-color:aqua; }


#usersTable tbody tr:hover {cursor:pointer;}
#usersTable tbody .counter {color:rgba(0, 0, 0, 0.25);}


#userModal .uk-modal-header,
#userModal .uk-modal-footer {background:rgba(0, 0, 0, 0.03);}
#userModal .uk-modal-body input[type="date"]::-webkit-inner-spin-button { display:none; }


#slideMenuOpen {position:absolute; top:10px; right:10px; cursor:pointer; font-weight:bold; opacity:.5; transition:.4s;}
#slideMenuOpen:hover {color:blue; opacity:1;}


#slideMenu ul {margin:20px 0 40px;}
#slideMenu ul li:first-child {margin-bottom:20px;}
#slideMenu ul li a {margin-left:10px;}
#slideMenu ul li a[href="#"] {opacity:.25; cursor:default;}


.uk-notification > div {background:black; border-left:7px solid;}
.uk-notification > div small {font-size:14px;}